
*{
    margin: 0;
    padding: 0;
}

body, html{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 20px;
    line-height: 30px;
}

/* hero section start */
.hero_section{
    height: 100vh;
    width: 100%;
}

.main_continers{
    display: flex;
}

.left_section{
    height: 100vh;
    width: 50%;
    margin-left: 10%;

}

.left_section h1{
    font-size: 60px;
    font-weight: 700;
    margin-top: 20%;
}

.left_section span{
    color: #ff760d;
    margin-right: 15px;
}

.left_section p{
    font-size: 18px;
    margin: 100px 0px;
    margin-bottom: 100px
    color: rgb(111, 111, 111);

}

.link_button{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
    /* background-color: orangered; */
    background-image: linear-gradient(#FE4A2E, #FB984C);
    color: whitesmoke;
    border-radius: 30px;
    box-shadow: 2px 2px 20px #FE4A2E;
}

.right_section{
    height: 100vh;
    width: 50%;
    background-image: url(images/shapes/man-bg.png);
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Hero section end */


/* about me section start */

.about_section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.about_img{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 12%;

}

.about_data{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 300px;

}

h2{
    margin: 30px 0px;
    font-size: 45px;
    color: rgb(111, 111, 111);
}

.data_continer p{
    margin-right: 160px;
    margin-bottom: 100px;
    font-size: 20px;
    line-height: 30px;
}

/* about section end */

/* My recipies section start */

.my_recipies{
    /* height: 100vh; */
    width: 100%;
    text-align: center;

}

.heading_continer h2{
    margin: 30px;
    
}


.recipies_main_continer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.recipies_continer{
    background-color: white;
    width: 35%;
    padding: 40px;
    border-radius: 30px;
    margin: 40px 20px;
    box-shadow: 3px 3px 30px rgb(203, 203, 203);
}

.recipies_data{
    text-align: left;
    line-height: 25px;


}

.recipies_data h3{
    font-size: 30px;
    margin: 20px 0;
}



/* my_recipies section end */
